n8n/join-issue-collector.json
{
  "name": "join-issue-collector",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const { ImapFlow } = require('imapflow');\nconst uid = $('Email Trigger (IMAP)').first().json.uid;\n\nconst client = new ImapFlow({\n  host: 'w01fb947.kasserver.com',\n  port: 993,\n  secure: true,\n  auth: {\n    user: 'issue-collector@marcus-hartmann.net',\n    pass: $vars['IMAP_PASSWORD']\n  },\n  logger: false\n});\n\nawait client.connect();\nawait client.mailboxOpen('INBOX');\nawait client.messageMove([uid], 'erledigt', { uid: true });\nawait client.logout();\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        480
      ],
      "id": "ab8733fb-0638-4621-b0cc-3797c795daa8",
      "name": "Move to Erledigt",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const { ImapFlow } = require('imapflow');\nconst uid = $('Email Trigger (IMAP)').first().json.uid;\n\nconst client = new ImapFlow({\n  host: 'w01fb947.kasserver.com',\n  port: 993,\n  secure: true,\n  auth: {\n    user: 'issue-collector@marcus-hartmann.net',\n    pass: $vars['IMAP_PASSWORD']\n  },\n  logger: false\n});\n\nawait client.connect();\nawait client.mailboxOpen('INBOX');\nawait client.messageMove([uid], 'zu bearbeiten', { uid: true });\nawait client.logout();\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        672
      ],
      "id": "55b20915-3980-4561-a933-91803dc1ea24",
      "name": "Move zu bearbeiten",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const { ImapFlow } = require('imapflow');\nconst uid = $('Email Trigger (IMAP)').first().json.uid;\n\nconst client = new ImapFlow({\n  host: 'w01fb947.kasserver.com',\n  port: 993,\n  secure: true,\n  auth: {\n    user: 'issue-collector@marcus-hartmann.net',\n    pass: $vars['IMAP_PASSWORD']\n  },\n  logger: false\n});\n\nawait client.connect();\nawait client.mailboxOpen('INBOX');\nawait client.messageMove([uid], 'zu bearbeiten', { uid: true });\nawait client.logout();\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        272
      ],
      "id": "a07ad971-668b-4268-b4d3-973b44c50e78",
      "name": "Move zu bearbeiten Limit",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "issue-collector@marcus-hartmann.net",
        "toEmail": "={{ $('Parse LLM Response').first().json.creator_email }}",
        "subject": "Ihr Ticket wurde erstellt",
        "html": "=Vielen Dank für Ihre Nachricht!<br><br>Ihr Ticket \"{{ $('Parse LLM Response').first().json.title }}\" wurde erfolgreich erstellt und wird von unserem Team bearbeitet.<br><br>Das Join-Team",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        912,
        480
      ],
      "id": "e11ca7f9-8ae4-41d6-b602-2fbcb7a6d378",
      "name": "Confirmation Mail1",
      "webhookId": "9a93f195-e044-4387-b9b3-244abbc8e8ad",
      "credentials": {
        "smtp": {
          "id": "EzoF48HcgxSZmMxH",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "issue-collector@marcus-hartmann.net",
        "toEmail": "={{ $('Parse LLM Response').first().json.creator_email }}",
        "subject": "Fehler bei der Ticket-Erstellung",
        "html": "Vielen Dank für Ihre Nachricht.<br><br>Leider konnte Ihr Ticket nicht automatisch erstellt werden.<br>Unser Team wurde benachrichtigt und wird Ihre Anfrage manuell bearbeiten.<br><br>Das Join-Team",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        912,
        672
      ],
      "id": "3d6f5866-3e6a-4b9d-9b26-a690347b956e",
      "name": "Error Mail1",
      "webhookId": "c946e98a-a465-44eb-9273-7206426c5549",
      "credentials": {
        "smtp": {
          "id": "EzoF48HcgxSZmMxH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -784,
        432
      ],
      "id": "0fee0a66-42ac-46c0-a795-d397ccba5c57",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "jLBBHRQq81svPTnu",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "issue-collector@marcus-hartmann.net",
        "toEmail": "={{ $('Email Trigger (IMAP)').first().json.from }}",
        "subject": "Ihr Request konnte nicht bearbeitet werden",
        "emailFormat": "text",
        "text": "Vielen Dank für Ihre Nachricht.\n\nLeider wurde das Tageslimit von 10 Requests bereits erreicht.\nIhre E-Mail wird manuell von unserem Team geprüft.\n\nDas Join-Team",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -48,
        272
      ],
      "id": "61dc890b-fcec-475f-844f-6bf741a73c2f",
      "name": "Send an Email",
      "webhookId": "8231331c-082b-4974-8bbb-d5f3f75507a7",
      "credentials": {
        "smtp": {
          "id": "EzoF48HcgxSZmMxH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -48,
        800
      ],
      "id": "d9813a4e-a96b-4db7-850f-e618ee4cc604",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "EPvhx7FiTpcouYxd",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "id": "3381e8b4-e957-4a37-9c94-1a974857b08c",
      "name": "Limit Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        432
      ],
      "parameters": {
        "method": "GET",
        "url": "https://join-issue-collector.vercel.app/api/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "7e0a3e0aa25636bf0ef9433ef51af0b57ef54f83083f4d72b8f91f8a591e1560"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b61dbc02-02f5-43c9-adab-aa180705f8a3",
              "leftValue": "={{ $json.limitReached }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        432
      ],
      "id": "70d85d31-e251-45b9-be41-7f00454b0ca9",
      "name": "If Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=E-Mail Betreff: {{ $('Email Trigger (IMAP)').first().json.subject }}\nE-Mail Body: {{ $('Email Trigger (IMAP)').first().json.textPlain }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein Assistent, der E-Mails in strukturierte Tickets umwandelt. Analysiere diese E-Mail und antworte NUR mit einem validen JSON-Objekt (kein Markdown, keine Erklärung, kein Text darum):\n\n{\"title\": \"Prägnanter Titel (max 60 Zeichen)\", \"description\": \"Vollständige Beschreibung\", \"category\": \"Technical Task oder User Story\", \"priority\": \"urgent oder medium oder low\", \"due_date\": \"YYYY-MM-DD oder null\", \"subtasks\": [\"Schritt 1\", \"Schritt 2\"]}\n\nRegeln für priority:\n- urgent: Wörter wie dringend, kritisch, sofort, asap, urgent\n- low: Wörter wie irgendwann, nice to have, optional\n- medium: alles andere\n\nRegeln für subtasks:\n- Liste von 2–5 konkreten Arbeitsschritten, die zur Umsetzung nötig sind\n- Jeder Schritt max 60 Zeichen, als Infinitiv formuliert\n- Leeres Array [] wenn keine sinnvollen Schritte ableitbar"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -112,
        576
      ],
      "id": "b5bc5588-bbcc-480d-976b-de192de1777c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json;\nconst raw = output.text ?? output.output ?? output.response ?? JSON.stringify(output);\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) throw new Error(\"No JSON found in LLM response\");\n\nconst parsed = JSON.parse(jsonMatch[0]);\n\nconst fromRaw = $('Email Trigger (IMAP)').first().json.from;\nconst creator_email = typeof fromRaw === 'string'\n  ? (fromRaw.match(/<(.+?)>/) || [null, fromRaw])[1]\n  : fromRaw?.value?.[0]?.address;\n\nreturn [{\n  json: {\n    title: parsed.title,\n    description: parsed.description ?? \"\",\n    category: parsed.category,\n    priority: parsed.priority,\n    due_date: parsed.due_date ?? null,\n    subtasks: Array.isArray(parsed.subtasks) ? parsed.subtasks : [],\n    creator_email\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        576
      ],
      "id": "560c89cb-5dc8-443b-b360-f3253785f9cd",
      "name": "Parse LLM Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-issue-collector.vercel.app/api/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "7e0a3e0aa25636bf0ef9433ef51af0b57ef54f83083f4d72b8f91f8a591e1560"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, description: $json.description, category: $json.category, priority: $json.priority, due_date: $json.due_date, creator_email: $json.creator_email, subtasks: $json.subtasks }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        576
      ],
      "id": "5dbd3d7f-f819-4235-af4f-0e9b2fa054d1",
      "name": "HTTP Post Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4f0f41c-2a4d-4009-9bfa-88ebbe007a6a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        576
      ],
      "id": "b9b9605c-05ef-4d0b-a154-ac0a10646e10",
      "name": "If Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Confirmation Mail1": {
      "main": [
        [
          {
            "node": "Move to Erledigt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Erledigt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Mail1": {
      "main": [
        [
          {
            "node": "Move zu bearbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Move zu bearbeiten Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit Check": {
      "main": [
        [
          {
            "node": "If Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Limit": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "HTTP Post Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Post Request": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Confirmation Mail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Mail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6da731b7-7df2-4130-8a8a-ecf07485cfce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a747d0894c59420f2efe012b7586b2561193b56ba215956ec64677dcb258cd79"
  },
  "id": "7C3Zogf3iq1UCcjr",
  "tags": []
}